export JAVA_HOME=/usr/lib/jvm/jdk/
export HADOOP_INSTALL={{hadoop_parent_dir}}/hadoop
export HADOOP_MAPRED_HOME=${HADOOP_INSTALL}
export HADOOP_COMMON_HOME=${HADOOP_INSTALL}
export HADOOP_HDFS_HOME=${HADOOP_INSTALL}
export YARN_HOME=${HADOOP_INSTALL}
export HADOOP_COMMON_LIB_NATIVE_DIR=${HADOOP_INSTALL}/lib/native
export HADOOP_OPTS="-Djava.library.path=$HADOOP_INSTALL/lib:${HADOOP_COMMON_LIB_NATIVE_DIR}"
export HADOOP_COMMON_LIB_NATIVE_DIR=${HADOOP_INSTALL}/lib/native
export PATH=$PATH:{{hadoop_parent_dir}}/hadoop/bin:{{hadoop_parent_dir}}/hadoop/sbin
